@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 6% 10%;
    --card: 240 5% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 240 5% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 262 84% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 90%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 80%;
    --input: 240 5% 85%;
    --ring: 262 84% 57%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 84% 57%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 6% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 6% 20%;
    --muted-foreground: 240 4% 60%;
    --accent: 240 6% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 25%;
    --input: 240 6% 20%;
    --ring: 262 84% 57%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
   .document-section {
    @apply bg-card shadow-lg my-8 p-8 md:p-12 rounded-lg text-sm text-card-foreground border;
  }

  @media (max-width: 768px) {
    .document-section {
      @apply p-4 my-2;
    }
  }
}
